<div class="container">
  <div class="row">
  <div id="serviceA" class="servicescolumn1 span6">
    <div class="contentcolumn columnfont column">

  <h3>Tax Relief, Inc. provides services for the following tax issues:</h3>
  <ul>
    <li>IRS wage garnishments</li>
    <li>Tax liens</li>
    <li>IRS bank account levy</li>
    <li>Filing back taxes</li>
    <li>Penalty abatement</li>
    <li>Offer in compromise</li>
    <li>Innocent spouse relief</li>
    <li>Notice of tax audit</li>
    <li>Outstanding payroll taxes</li>
   </ul>
  <br />
    <div style="width: 200px;" align="center"> <a target="_blank"
 id="bbblink" class="ruhzbum"
 href="http://www.bbb.org/chicago/business-reviews/taxes-consultants-and-representatives/tax-relief-in-westchester-il-88000094#bbblogo"
 title="Tax Relief, Inc., Taxes - Consultants &amp; Representatives, Westchester, IL"
 style="margin: 0px; padding: 0px; display: block; position: relative; overflow: hidden; width: 150px; height: 68px;"><img
 style="border: medium none ; padding: 0px;" id="bbblinkimg"
 src="http://seal-chicago.bbb.org/logo/ruhzbum/tax-relief-88000094.png"
 alt="Tax Relief, Inc., Taxes - Consultants &amp; Representatives, Westchester, IL"
 height="68" width="300"></a>
      <script type="text/javascript">var bbbprotocol = ( ("https:" == document.location.protocol) ? "https://" : "http://" ); document.write(unescape("%3Cscript src='" + bbbprotocol + 'seal-chicago.bbb.org' + unescape('%2Flogo%2Ftax-relief-88000094.js') + "' type='text/javascript'%3E%3C/script%3E"));</script></div>
<br />
<div>
<%= image_tag asset_url("NAEA-Logo.jpg"), :alt => "National Association of Expert Advisors", :class => "frontnaea hidden-phone" %>
</div>
<div>
<%= image_tag asset_url("ASTPS_Icon1small.jpg"), :alt => "American Society for Tax Problem Solvers", :class => "frontnaea hidden-phone" %></div>
<div>
<%= image_tag asset_url("nationalasstax.jpg"), :class => "frontnaea", :alt => "National Association of Tax Resolution Companies hidden-phone" %>
</div>

</div>
</div>

    <div class="servicescolumn2 span6">
      <div id="serviceB" class="contentcolumn columnfont column">
      <h3>Tax Relief, Inc. provides innovative solutions to complex tax problems</h3>
<p>At your free, no-obligation consultation, we will design a unique tax relief plan, tailored to meet your specific needs. We will protect every available dollar in your recovery plan. We will ensure your taxpayer rights are upheld throughout the entire recovery process.</p><p>For qualified taxpayers, we will present an Offer in Compromise to settle your tax liability for a fraction of the total amount.</p><p>We will continue to advise and guide you until your tax problem is completely resolved.</p>
<h3>We specialize in providing innovative solutions to fraud victims</h3>
<ul>
<li>Ponzi Scheme</li>
<li>Churning</li>
<li>Embezzlement</li>
<li>Investment Fraud</li>
<li>Unauthorized Transactions</li>
<li>Viatical Settlement</li>
</ul>
<h3 style="text-align:center">Contact us today for a free consultation.</h3>
<h3 style="text-align:center"><a class="hidden-desktop hidden-tablet visible-phone" href="tel:8778811040">877-881-1040</a></h3><h3 class="visible-desktop visible-tablet hidden-phone" style="text-align:center">877-881-1040</h3>
  </div>
</div>
</div>


