
  <div class="faq span12">
  <h1>FAQs</h1>
      <div class="span12"><h2>I received a letter from the IRS, what should I do?</h2>
Contact us right away for a consultation. Requests from the IRS and other taxing authorities have timelines for replies and penalties could be assessed for late responses.</div>
<div class="span12"><h2>How much will the consultation cost?</h2>
The initial consultation is free. After that, our fees vary according to the services we provide. We have various payment plans available to help our clients solve their problems. Your particular situation will be discussed during your free consultation.</div>
<div class="span12"><h2>How can the IRS collect money from me or my company?</h2>
The IRS can file a federal tax lien against all your assets; levy your bank accounts and/or wages; seize your home, investments, retirement, cars, business, or anything of value and dispose of them through an auction sale.</div>
<div class="span12"><h2>What do I do if I don't have any money to pay the IRS?</h2>
One of the Tax Relief, Inc. specialists will advise you during your free consultation of the best path to take to solve your tax problem.</div>
<div class="span12"><h2>What is an Offer in Compromise?</h2>
An Offer in Compromise (OIC) is an agreement whereby the IRS agrees to accept less than what they are owed from a taxpayer.</div>
<div class="span12"><h2>Am I qualified for an Offer in Compromise?</h2>
Contact us to see if you qualify. There are specific IRS standards regarding eligibility including ratios of Income vs Expenses and assets that may be available for liquidation. Working with a tax professional can make a big difference when preparing an Offer in Compromise. According to a recent report from the National Taxpayer Advocate, almost one quarter of all OICs submitted were rejected because they were filled out incorrectly, and of the applications that were initially accepted for processing, almost half were later rejected.</div>
<div class="span12"><h2>How long will the recovery process take?</h2>
Some steps, such as stopping levies and seizures may happen relatively quickly. However, the entire process of an Offer in Compromise can take several months to over a year or more.</div>
<div class="span12"><h2>Where are you located and will I need to come to your office?</h2>
Tax Relief, Inc. serves clients from across the nation. Most of our work can be handled via telephone, Internet, and mail. If you are coming to our office for any reason, please click here for directions.</div>
<div class="faqbottom span12">Contact us to schedule your free consultation today</div><br>
<div class="faqbottomnumber span12">877.881.1040</div>
 </div>

