
       <div id="firmcolumn">
<div class="row-fluid">
    <h1>Who is Tax Relief Inc.?</h1>
     <ul>
     <li>Over 55 years of combined experience among our partners</li>
     <li>Tax Relief, Inc. has been working with clients since 1987</li>
     <li>Tax Relief, Inc. partners work with you right from the free consultation</li>
     </ul>
     <div class="firmimage"><%= image_tag asset_url("Tim.jpg"), class: "imagetim", alt: "Mr. Foley" %></div><p>Mr. Foley is the Managing Director of Tax Relief, Inc. Mr. Foley is an Enrolled Agent and Certified Management Accountant. He served as Chairman of the Executive Committee of a $1.2
billion distribution company. He was instrumental in turning around the financially troubled Medaille College (Buffalo, New York)
and later named as Medaille's Chairman of the Board. Mr. Foley has concentrated his efforts on working with taxpayers that have collection problems with the IRS. As an Enrolled Agent, Mr. Foley is authorized to represent taxpayers nationwide before the Internal Revenue Service.</p><br />
<br />
<br />
<div class="firmimage"><%= image_tag asset_url("Joe.jpg"), class: "imagetim", alt: "Mr. Shadle" %></div>
<p>Mr. Shadle is President of Tax Relief, Inc. Mr.
Shadle is an Enrolled Agent and Certified Tax Resolution Specialist. He worked for eight years in the Financial Services industry in New York,
New Jersey and Florida. His work experience includes service for the Small Business Administration providing disaster relief loans to individuals and corporations subsequent to the attacks on World Trade
Center. He is a graduate of Rochester Institute of Technology with a
major in International Finance. His focus and current experience is in Tax and Management Consulting.</p><br />
<br />
<br />
<div class="bottomfirmcolumn">The problem will not go away on its own<br />
Contact us today for a free, no-obligation consultation</div><br />
<br />
<div class="bottomfirmnumber">877.881.1040</div>
</div>
  </div>
