/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require bootstrap-responsive.min
 *= require bootstrap_and_overrides
 */

#masthead {
  background-color: #B8B8B8;
}
.contentcolumnslogan {
  padding: 2%;
}
.contentcolumn {
  padding: 5%;
}
 .backgroundcolor {
  background-color: #4971a2;
 }
 .logo {
  vertical-align: center;
  /*padding-top: 1%;*/
 }
 .slogan {
  text-align: center;
  /*padding-bottom: 1%;*/
 }
 .top {
  height: 200px;
 }
.contact {
  background-color: #F8F8F8;
  border-color: #000000;
 /* border-style: solid;*/
  height: 100% ;
  margin-top: 2%;
  margin-bottom: 2%;

}
.contact  h1 {
  text-align: center;
}

.faq {
  background-color: #F8F8F8;
  border-color: #000000;
  /*border-style: solid;*/
  /*padding: 2%;*/
  margin-top: 2%;
  margin-bottom: 2%;
}
.faqbottom {
  font-weight: bold;
  text-align: center;
}
.faqbottomnumber {
  font-weight: bold;
  text-align: center;
}
#firmcolumn {
  margin-top: 2%;
  margin-bottom: 2%;
  background-color: #F8F8F8;
  border-color: #000000;
  /*border-style: solid;*/
  padding: 2%;
}

#firmcolumn li {
  font-weight: bold;
}
.bottomfirmcolumn {
  text-align: center;
  font-weight: bold;
}
.bottomfirmnumber {
  text-align: center;
  font-weight: bold;
}
.firmimage {
  vertical-align: center;
  width: 120px;
  height: 180px;
}
.imagetim {
  text-align: center;
  width: 130px;
  height: 180px;
}
.servicescolumn1 {
  margin-top: 2%;
  margin-bottom: 2%;
  /*padding: 2%;*/
  /*border-style: solid;*/
  background-color: #F8F8F8;
}
.servicescolumn1 h1 {
  text-align: center;
  font-weight: bold;
}
.servicescolumn2 {
  margin-top: 2%;
  margin-bottom: 2%;
  /*padding: 2%;*/
/*  border-style: solid;*/
  background-color: #F8F8F8;
}
.servicescolumn2 h1 {
  text-align: center;
  font-weight: bold;
}
.footerbottom {
  margin-top: 1%;
  background-color:  #B8B8B8;
  text-align: center;
  /*border-top: solid;*/
}
.social_media {
  display: inline;
}
#testimonialcolumn {
  background-color: #F8F8F8;
  border-color: #000000;
  /*border-style: solid;*/
  /*padding: 2%;*/
  margin-top: 2%;
  margin-bottom: 2%;
}
#testimonialcolumn h1 {
  text-align: center;
}
.jason {
  width: 72px;
  height: 90px;
}
.megan {
  width: 90px;
  height: 92px;
}
.craig {
  width: 90px;
  height: 84px;
}
.rosa {
  width: 86px;
  height: 90px;
}
.ray {
  width: 73px;
  height: 82px;
}
#updatescolumn {
  background-color: #F8F8F8;
  border-color: #000000;
 /* border-style: solid;*/
  /*padding: 2%;*/
}
#updatescolumn h1 {
  text-align: center;
}
.emailform {
  margin: 10%;
}
.contactdisplay {
  margin: 10%;
}
#frontemail {
  background-color: #F8F8F8;
  border-color: #000000;
 /* border-style: solid;*/
  margin-top: 2%;
 /* padding: 2%;*/
}
#frontemail h1 {
  text-align: center;
}
#maintext {
  background-color: #F8F8F8;
 /* border-style: solid;*/
  margin-top: 2%;
 /* padding: 2%;*/
}
#maintext h3 {
  text-align: center;
   font-family: Arial, Helvetica, sans-serif;
}
#maintext li {
   font-family: Arial, Helvetica, sans-serif;
   font-weight: normal;
}
#leftcolumn {
  background-color: #F8F8F8;
  border-color: #000000;
  /*border-style: solid;*/
  margin-top: 2%;
  margin-bottom: 2%;
  /*padding: 2%;*/
  height: 100%;
}
#centercolumn {
  background-color: #F8F8F8;
  border-color: #000000;
  /*border-style: solid;*/
  margin-top: 2%;
  margin-bottom: 2%;
/*  padding: 2%*/;
}
#centercolumn h2 {
  font-size: 1em;
}
#rightcolumn {
  background-color: #F8F8F8;
  border-color: #000000;
  /*border-style: solid;*/
  margin-top: 2%;
  margin-bottom: 2%;
  /*padding: 2%;*/
}
.frontnaea {
   width: 80px;
   height: 72px;
}
.mainimg {
  height: 300px;
  width: 600px;
}
.columnfont {
  font-family: Arial, Helvetica, sans-serif;
}

